<div class="row card-row">
  <div class="card-wrap col s12 l4 ">
    <div class="carded">
      <p>Bacon ipsum dolor amet rump flank ham kevin alcatra. Cupim prosciutto brisket picanha.
        Flank pork belly t-bone tail chuck landjaeger. Salami pork belly bacon frankfurter
        tenderloin tongue porchetta andouille. Pastrami rump short loin, kielbasa bacon venison
        sirloin pig strip steak shoulder jowl doner corned beef meatball.
      </p>
    </div>
  </div>
  <div class="card-wrap col s12 l4 ">
    <div class="carded">
      <p>Bacon ipsum dolor amet rump flank ham kevin alcatra. Cupim prosciutto brisket picanha.
        Flank pork belly t-bone tail chuck landjaeger. Salami pork belly bacon frankfurter
        tenderloin tongue porchetta andouille. Pastrami rump short loin, kielbasa bacon venison
        sirloin pig strip steak shoulder jowl doner corned beef meatball.
      </p>
    </div>
  </div>
  <div class="card-wrap col s12 l4 ">
    <div class="carded">
      <p>Bacon ipsum dolor amet rump flank ham kevin alcatra. Cupim prosciutto brisket picanha.
        Flank pork belly t-bone tail chuck landjaeger. Salami pork belly bacon frankfurter
        tenderloin tongue porchetta andouille. Pastrami rump short loin, kielbasa bacon venison
        sirloin pig strip steak shoulder jowl doner corned beef meatball.
      </p>
    </div>
  </div>
</div>
