{% extends "layouts/base.html" %}

{% block content %}

<header>
  <ul>
    <li><a href="#fixter">Fixter</a></li>
    <li><a href="#work">Work</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</header>

<div id="fixter"  class="index valign-wrapper section scrollspy">
  <div class="row">
    <div class="col s12">
      <h3>We build websites. We fix problems.</h3>
    </div>
    <div class="col s12">
      <h1 class="huge">Fixter</h1>
    </div>
  </div>
</div>

<div id="work" class="content section scrollspy">
  <div class="row">
    <div class="col s12 l6">
      <p>We build websites. We fix problems.</p>
    </div>
    <div class="col s12 l6">
      <h1>Fixter</h1>
    </div>
  </div>
</div>

<div id="team"  class="index valign-wrapper section scrollspy">
  <div class="row">
    <div class="col s12">
      <h3>We build websites. We fix problems.</h3>
    </div>
    <div class="col s12">
      <h1>Fixter</h1>
    </div>
  </div>
</div>
<div id="contact" class="index valign-wrapper section scrollspy">
  <div class="row">
    <div class="col s12">
      <h3>We build websites. We fix problems.</h3>
    </div>
    <div class="col s12">
      <h1>Fixter</h1>
    </div>
  </div>
</div>
{% endblock %}
