{% extends "layouts/base.html" %}

{% block content %}

<progress value="0" id="progressBar">
  <div class="progress-container">
    <span class="progress-bar"></span>
  </div>
</progress>
<header>
  <ul>
    <li><a href="#fixter">Fixter</a></li>
    <li><a href="#work">Work</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</header>

<div id="fixter"  class="index valign-wrapper section scrollspy">
  <div class="row">
    <div class="col s12">
      <h3>We build websites. We fix problems.</h3>
    </div>
    <div class="col s12">
      <h1>Fixter</h1>
    </div>
  </div>
</div>
<div id="work" class="index valign-wrapper section scrollspy">
  <div class="row">
    <div class="col s12">
      <h3>We build websites. We fix problems.</h3>
    </div>
    <div class="col s12">
      <h1>Fixter</h1>
    </div>
  </div>
</div>

<div id="team"  class="index valign-wrapper section scrollspy">
  <div class="row">
    <div class="col s12">
      <h3>We build websites. We fix problems.</h3>
    </div>
    <div class="col s12">
      <h1>Fixter</h1>
    </div>
  </div>
</div>
<div id="contact" class="index valign-wrapper section scrollspy">
  <div class="row">
    <div class="col s12">
      <h3>We build websites. We fix problems.</h3>
    </div>
    <div class="col s12">
      <h1>Fixter</h1>
    </div>
  </div>
</div>
{% endblock %}
