{% extends "layouts/base.html" %}

{% block content %}

<div id="fixter"  class="index valign-wrapper section scrollspy ">
  <div class="row ">
    <div class="col s12">
      <h3>We build websites. We fix problems.</h3>
    </div>
    <div class="col s12">
      <h1 class="huge">Fixter</h1>
    </div>
  </div>
</div>

<div id="work" class="content section scrollspy">
  <div class="row">
    <div class="col s12">
      <h1>Work</h1>
    </div>
    <div class="col s12">
      <p>Bacon ipsum dolor amet rump flank ham kevin alcatra. Cupim prosciutto brisket picanha.
        Flank pork belly t-bone tail chuck landjaeger. Salami pork belly bacon frankfurter
        tenderloin tongue porchetta andouille. Pastrami rump short loin, kielbasa bacon venison
        sirloin pig strip steak shoulder jowl doner corned beef meatball. Chicken shank corned
        beef pork belly jerky, bresaola pancetta brisket turkey flank chuck tri-tip. Brisket
        prosciutto ground round picanha fatback.
      </p>
    </div>
  </div>
</div>

<div id="team"  class="content section scrollspy">
  <div class="row">
    <div class="col s12">
      <h1>Team</h1>
    </div>
    <div class="col s12">
      <p>Bacon ipsum dolor amet rump flank ham kevin alcatra. Cupim prosciutto brisket picanha.
        Flank pork belly t-bone tail chuck landjaeger. Salami pork belly bacon frankfurter
        tenderloin tongue porchetta andouille. Pastrami rump short loin, kielbasa bacon venison
        sirloin pig strip steak shoulder jowl doner corned beef meatball. Chicken shank corned
        beef pork belly jerky, bresaola pancetta brisket turkey flank chuck tri-tip. Brisket
        prosciutto ground round picanha fatback.
      </p>
    </div>
    <div class="col s12">
      <p>Bacon ipsum dolor amet rump flank ham kevin alcatra. Cupim prosciutto brisket picanha.
        Flank pork belly t-bone tail chuck landjaeger. Salami pork belly bacon frankfurter
        tenderloin tongue porchetta andouille. Pastrami rump short loin, kielbasa bacon venison
        sirloin pig strip steak shoulder jowl doner corned beef meatball. Chicken shank corned
        beef pork belly jerky, bresaola pancetta brisket turkey flank chuck tri-tip. Brisket
        prosciutto ground round picanha fatback.
      </p>
    </div>
    <div class="col s12">
      <p>Bacon ipsum dolor amet rump flank ham kevin alcatra. Cupim prosciutto brisket picanha.
        Flank pork belly t-bone tail chuck landjaeger. Salami pork belly bacon frankfurter
        tenderloin tongue porchetta andouille. Pastrami rump short loin, kielbasa bacon venison
        sirloin pig strip steak shoulder jowl doner corned beef meatball. Chicken shank corned
        beef pork belly jerky, bresaola pancetta brisket turkey flank chuck tri-tip. Brisket
        prosciutto ground round picanha fatback.
      </p>
    </div>
  </div>
</div>
<div id="contact" class="index valign-wrapper section scrollspy">
  <div class="row">
    <div class="col s12">
      <h3>We build websites. We fix problems.</h3>
    </div>
    <div class="col s12">
      <h1>Fixter</h1>
    </div>
  </div>
</div>
{% endblock %}
