@font-face {
    font-family: 'cooper_hewittbook';
    src: url('fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cooper_hewittheavy';
    src: url('fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cooper_hewittlight';
    src: url('fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cooper_hewittmedium';
    src: url('fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,a,h2,h3,h4,h5,h6,li,ul,ol,label,input,select,span {
  font-family: 'Source Sans Pro', sans-serif;
}

$dark-blue: #2C3E50;
$salmon: #E74C3C;
$offwhite: #ECF0F1;
$light-blue: #3498DB;
$mid-blue: #2980B9;

body{
  background-color: $offwhite;
}

p{
  font-size: 1.3rem;
}

.huge{
  font-family: 'cooper_hewittheavy', sans-serif;
  font-size: 8rem;
  letter-spacing: .2rem;
}
