.index {
  min-height: 100vh;
}
.grad{
  background: $offwhite; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(darken($offwhite, 20), $offwhite); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(darken($offwhite, 20), $offwhite); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(darken($offwhite, 20), $offwhite); /* For Firefox 3.6 to 15 */
  background: linear-gradient(darken($offwhite, 20), $offwhite); /* Standard syntax */
}
.gradInv{
  background: $offwhite; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($offwhite, darken($offwhite, 40)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($offwhite, darken($offwhite, 40)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($offwhite, darken($offwhite, 40)); /* For Firefox 3.6 to 15 */
  background: linear-gradient($offwhite, darken($offwhite, 40)); /* Standard syntax */
}
.content{
  background-color: $charcoal;
  color: $offwhite;
  // box-shadow: 0px 0px 25px 15px rgba(0,0,0,.2);
  margin: -1px; // This is to help with the scrollSkew line bug that creates a line
  padding: 0px 10%;
  // margin: 5%;
  // border-radius: 0px 20px;
}
.card-row{
  .card-wrap{
    padding: 5%;
    margin-top: 40px;
    .carded{
      background-color: $offwhite !important;
      color: $charcoal !important;
      box-shadow: 0px 0px 15px 10px rgba(0,0,0,.1);
      padding: 30px;
      border-radius: 3px;
      p{
        margin: 0;
      }
    }
  }
}




.visible {
  overflow:hidden;
  height:80px;

  &:before {
    content:'[';
    left: 0;
    line-height:40px;
  }
  &:after {
    content:']';
    position:absolute;
    right: 0;
    line-height:40px;
  }
  &:after, &:before {
    position:absolute;
    top:0;
    color:#16a085;
    font-size:42px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  h3 {
    display:inline;
    float:left;
    margin:0;
    line-height:80px;

  }
  .rotate-text {
    margin-top:0;
    padding-left:73px !important;
    text-align:left;
    list-style:none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    li {
      font-family: 'Playfair Display', serif;
      font-weight: 700 !important;
      line-height:80px;
      margin:0;
      font-size: 3rem;
    }
  }
}

@-webkit-keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-75%);}
}
// @-webkit-keyframes change {
//   0%, 12%, 100% {transform:translateY(0);}
//   17%,29% {transform:translateY(-25%);}
//   34%,46% {transform:translateY(-50%);}
//   51%,63% {transform:translateY(-75%);}
//   68%,80% {transform:translateY(-50%);}
//   85%,97% {transform:translateY(-25%);}
// }
@keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-75%);}
}
