header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $offwhite;
  z-index: 1;
  ul{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    li{
      text-align: center;
      display: table-cell;
      font-size: 1.5rem;
      a{
      }
    }
  }

}
