header{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: $offwhite;
  z-index: 1;
  transition: top 0.2s ease-in-out;
  ul{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    li{
      text-align: center;
      display: table-cell;
      font-size: 1.5rem;
      a{
      }
    }
  }
}
.nav-up {
  top: -40px !important; // same as header height. use variables in LESS/SASS
}
